.chat__config-bar {
  margin-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #E2E8F0;
  overflow: hidden;
  li {
    cursor: pointer;
    padding: 4px 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    &[disabled='true'] {
      cursor: not-allowed;
      color: #A0AEC0;
    }
    & + li {
      border-left: 1px solid #E2E8F0;
    }
  }
}
.chat-avatar {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid rgb(223, 226, 234);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
}
